window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}


window-rule {
	match {}
	opacity 0.8

	background-effect {
		blur true
	}
}

window-rule {
	match app-id=r#"^Alacritty$"#
	opacity 0.8

	background-effect {
		blur true
	}
}

window-rule {
	match app-id=r#"^Alacritty$"# title="^sddm$"

	open-floating true
	opacity 0.8

	background-effect {
		blur true
	}
}

// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}


