@import '../waybar/colors.css';

@define-color noti-border-color @outline;
@define-color noti-bg alpha(@secondary_container, 0.8);
@define-color noti-bg-alt alpha(@tertiary_container, 0.8);
@define-color noti-bg-hover alpha(@tertiary_container, 0.9);
@define-color text-color @primary_container;
@define-color pop-bg @tertiary_container;

* {
    font-family: "MartianMono Nerd Font";
    font-weight: bold;
    font-size: 1rem;
}

.blank-window {
    background: alpha(black, 0.1);
}

.control-center {
    background: alpha(@inverse_primary, 0.6);
    border: 2px solid @tertiary;
	  color: @text-color;
    border-radius: 10px;
}

.control-center .control-center-list {
    background: transparent;
    border: 2px solid @secondary;
    border-radius: 10px;
}

.control-center-list:last-child,
.control-center-list:first-child {
  background: transparent;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.floating-notifications {
    background: transparent;
}

.notification-row {
    outline: transparent;
    color: black;
    background: transparent;
}

.notification {
    background: alpha(@tertiary, 0.5);
    padding: 3px 10px 3px 6px;
    border-radius: 10px;
    border: 2px solid @secondary;
}

.control-center .notification-row:last-child .notification-background .notification {
  background-color: @tertiary;
}

.notification:hover {
  background: alpha(@tertiary, 0.8);
  color: @primary_container;
  border: 2px solid @secondary;

}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background: transparent;
}

.close-button {
    background: #f7768e;
    color: @noti-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #f7768e;
    transition: all .15s ease-in-out;
    border: none;
}

.notification-action {
    border: 1px solid @pop-bg;
    border-top: none;
    border-radius: 10px;
    background: alpha(@tertiary, 0.6);
}

.notification-default-action:hover,
.notification-action:hover {
    color: black;
    background: transparent;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: @secondary_container;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: @pop-bg;
}

.inline-reply {
    margin-top: 8px;
}

.inline-reply-entry {
    background: @noti-bg;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 10px;
}

.inline-reply-button {
	font-size: 0.5rem;
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 10px;
    color: @text-color;
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

.body-image {
    margin-top: 6px;
    color: @secondary_container;
    border-radius: 10px;
}

.summary {
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    color: alpha(@surface, 0.7);
    text-shadow: none;
}

.time {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: alpha(@surface, 0.7);
    text-shadow: none;
    margin-right: 18px;
}

.body {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: alpha(@surface, 0.7);
    text-shadow: none;
}

/* Notification bar with the clear all button */ 

.widget-title {
    color: alpha(@surface, 0.7);
    background: alpha(@on_primary_container, 0.6);
    padding: 3px 6px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.widget-title>button {
    font-size: 0.75rem;
    color: alpha(@surface, 0.7);
    border-radius: 10px;
	  background: alpha(@tertiary_container, 0.4);
	  border: 2px solid @primary_container;
}

/* clear button */
.widget-title>button:hover {
    background: alpha(@pop-bg, 0.6);
    color: alpha(@surface, 0.7);
}

.widget-dnd {
    color: alpha(@surface, 0.7);
    background: alpha(@on_primary_container, 0.6);
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
    font-size: 0.5rem;
}

.widget-dnd text {
  color: black;
}

.widget-dnd>switch {
    border-radius: 10px;
    border: 1px solid @outline;
    background: alpha(@tertiary_container, 0.4);
}

.widget-dnd>switch:checked {
    background: alpha(@tertiary_container, 0.6);
    border: 1px solid @primary_container;
}

.widget-dnd>switch slider {
    background: @secondary;
    border-radius: 10px;
}

.widget-dnd>switch:checked slider {
    background: @pop-bg;
    border-radius: 10px;
}

.widget-label {
    margin: 5px;
    color: black;
}

.widget-label>label {
    font-size: 1rem;
    color: black;
}

.widget-mpris {
    color: @inverse_surface;
    background: alpha(@tertiary, 0.6);
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
}

.widget-mpris > box > button {
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 3px 6px;
    margin: 5px;
}

.widget-mpris-title {
    font-weight: 100;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-size: 0.75rem;
}

.widget-buttons-grid {
    font-size: large;
	  color: @noti-border-color;
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
    background: @noti-bg-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 1px;
    background: @noti-bg;
    border-radius: 10px;
    color: @text-color;
}

/* individual buttons */
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @text-color;
    color: @noti-bg-hover;
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
}

.topbar-buttons>button {
    border: none;
    background: transparent;
}

.widget-volume {
    background: @noti-bg-alt;
    padding: 2px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text-color;
}

.widget-volume>box>button {
    background: @noti-border-color;
    border: none;
}

.per-app-volume {
    background-color: @noti-bg;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px;
	color: @text-color;
}

.widget-backlight {
    background: @noti-bg-alt;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text-color;
}
