input {
    keyboard {
        xkb {
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
         accel-profile "flat"
        // scroll-method "no-scroll"
    }

focus-follows-mouse max-scroll-amount="0%"
}

cursor {
	xcursor-theme "Moga-Candy-Olieve"
	xcursor-size 36
}
