window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
	match app-id=r#"org.gnome.[cC]alculator$"#
	open-floating true
	default-column-width { fixed 376; }
	default-window-height { fixed 616; }
}

// Global settings
window-rule {
	match {}
	opacity 0.8

	background-effect {
		blur true
	}
}

window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
    draw-border-with-background false
}

// Full opaque - Multimedia
window-rule {
	match app-id=r#"^org.gnome.[Ll]oupe$"#
	match app-id=r#"^[Mm]pv$"#
	opacity 1.0
}

// SDDM and wallpaper
window-rule {
	match app-id=r#"^[Ww]allpaper$"#

	open-floating true
	opacity 0.8

	background-effect {
		blur true
	}
}

// Layer Rules

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

layout {
	always-center-single-column
}



/* Workspaces
workspace "terminal" {
	open-on-output "DP-2"
}

workspace "browser" {
	open-on-output "DP-2"
}

workspace "games" {
	open-on-output "DP-2"
}

window-rule {
	match app-id=r#"^[Ss]team$"#
	match app-id=r#"^net.lutris.[Ll]utris$"#
	open-on-workspace "games"
}

window-rule {
	match app-id=r#"^[Aa]lacritty$"#
	match app-id=r#"^[Ff]oot$"#
	open-on-workspace "terminal"
}

window-rule {
	match app-id=r#"^[Zz]en$"#
	match app-id=r#"^[Hh]elium$"#
	open-on-workspace "browser"
} */

