window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

// Global settings
window-rule {
	match {}
	opacity 0.8

	background-effect {
		blur true
	}
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

// Full opaque - Multimedia
window-rule {
	match app-id=r#"^org.gnome.[Ll]oupe$"#
	match app-id=r#"^[Mm]pv$"#
	opacity 1.0
}

// SDDM and wallpaper
window-rule {
	match app-id=r#"^Alacritty$"# title="^sddm$"

	open-floating true
	opacity 0.8

	background-effect {
		blur true
	}
}

// Layer Rules

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
