layout {

    focus-ring {
        active-color   "#e5a467"
        inactive-color "#291e14"
        urgent-color   "#b5681f"
    }

    border {
        active-color   "#e5a467"
        inactive-color "#291e14"
        urgent-color   "#b5681f"
    }

    shadow {
        color "#291e1470"
    }

    tab-indicator {
        active-color   "#e5a467"
        inactive-color "#8f4b0b"
        urgent-color   "#b5681f"
    }

    insert-hint {
        color "#e5a46780"
    }
}

recent-windows {
    highlight {
        active-color "#e5a467"
        urgent-color "#b5681f"
    }
}
